.topnav-left {
    display: inline-block
}

.topnav-right {
  float:right;
}

.bottomnav-left {
  display: inline-block
}

.bottomnav-right {
  float:right;
}

body {
 text-align center;
 display: inline-block;   
}